<a href="https://colab.research.google.com/github/PRASADPRATYUSH2323/PRASADPRATYUSH2323/blob/main/Assignment_1_Feature_information.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing libraries
import pandas as pd
import numpy as np
import statistics

In [ ]:
# reading the data
df = pd.read_csv('/content/IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
#checking the column names
a=df.columns
a

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
# finding data type of each column
b=[]
for i in a:
    x=df[i].dtype
    b.append(x)
print(b)

[dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O')]

In [ ]:
# checking if a column has inpot or output
put=[]
for i in a:
        print(i)
y=input('type null if there is no output else type the feature name that is the output: ')
if y=='null':
    x='input'
    for i in a:
        put.append(x)
else:
    x='input'
    for i in a:
        if (i==y):
            x='output'
        else:
            x='input'
        put.append(x)
print(put)

sepal_length
sepal_width
petal_length
petal_width
species
type null if there is no output else type the feature name that is the output: species
['input', 'input', 'input', 'input', 'output']

In [ ]:
# finding data scale of every feature
c=[]
for i in a:
    x='nominal/ordinal'
    print(df[i].dtype)
    if (df[i].dtype=='int')|(df[i].dtype=='float')|(df[i].dtype=='int64'):
        x='interval'
        for j in df[i]:
            if j==0:
                x='ratio'
    c.append(x)
print(c)

float64
float64
float64
float64
object
['interval', 'interval', 'interval', 'interval', 'nominal/ordinal']

In [ ]:
# finding the number of features
z=0
for i in a:
    z+=1
print('number of features are :',z)

number of features are : 5

In [ ]:
# finding mode of all the features
mod=[]
for i in range(0,z):
    x=a[i]
    y=df[x].mode()
    mod.append(y[0])
print(mod)

[5.0, 3.0, 1.5, 0.2, 'Iris-setosa']

In [ ]:
# counting the number of entries in every columns
allc=[]
for i in range(0,z):
    x=a[i]
    y=df[x].count()
    allc.append(y)
print(allc)

[150, 150, 150, 150, 150]

In [ ]:
# counting the number of zeros in every column
all0=[]
for i in range(0,z):
    x=a[i]
    y=(df[x]==0).sum()
    if y!=0:
        w=y
    else:
        w=0
    all0.append(w)
print(all0)

[0, 0, 0, 0, 0]

In [ ]:
#finding the median of every ordinal, interval and ratio feature
med=[]
for i in range(0,z):
    p=a[i]
    q=df[p]
    r='null'
    if c[i]=='interval':
        r=df[p].median()
    if c[i]=='ratio':
        r=df[p].median()    
    med.append(r)
print(med)

[5.8, 3.0, 4.35, 1.3, 'null']

In [ ]:
# finding the mean of every interval and ratio feature
mn=[]
for i in range(0,z):
    p=a[i]
    q=df[p]
    r='null'
    if c[i]=='interval':
        r=df[p].mean()
    if c[i]=='ratio':
        r=df[p].mean()    
    mn.append(r)
print(mn)

[5.843333333333334, 3.0540000000000003, 3.758666666666666, 1.1986666666666668, 'null']

In [ ]:
# finding the minima of every interval and ratio feature
minn=[]
for i in range(0,z):
    p=a[i]
    q=df[p]
    r='null'
    if c[i]=='interval':
        r=df[p].min()
    if c[i]=='ratio':
        r=df[p].min()    
    minn.append(r)
print(minn)

[4.3, 2.0, 1.0, 0.1, 'null']

In [ ]:
# finding the maxima of every interval and ratio feature
maxx=[]
for i in range(0,z):
    p=a[i]
    q=df[p]
    r='null'
    if c[i]=='interval':
        r=df[p].max()
    if c[i]=='ratio':
        r=df[p].max()    
    maxx.append(r)
print(maxx)

[7.9, 4.4, 6.9, 2.5, 'null']

In [ ]:
# finding the range of every interval and ratio feature
rng=[]
for i in range(0,z):
    p=a[i]
    q=df[p]
    r='null'
    if c[i]=='interval':
        r=(df[p].max())-(df[p].min())
    if c[i]=='ratio':
        r=(df[p].max())-(df[p].min())
    rng.append(r)
print(rng)

[3.6000000000000005, 2.4000000000000004, 5.9, 2.4, 'null']

In [ ]:
# finding the standard deviation of every ratio feature
stdev=[]
for i in range(0,z):
    p=a[i]
    q=df[p]
    r='null'
    if c[i]=='interval':
        r=statistics.stdev(df[p])
    if c[i]=='ratio':
        r=statistics.stdev(df[p])
    stdev.append(r)
print(stdev)

[0.8280661279778629, 0.43359431136217363, 1.7644204199522626, 0.7631607417008411, 'null']

In [ ]:
# checking the feature type
vale=[]
for i in a:
    val='discrete'
    x=df[i].dtype
    if x=='int':
        val='continuous'
    if x=='float':
        val='continuous'    
    vale.append(val)
print(vale)

['continuous', 'continuous', 'continuous', 'continuous', 'discrete']

In [ ]:
# printing the final information of features in the form of a table
df1=pd.DataFrame(list(zip(a,b,c,mod,allc,all0,med,mn,minn,maxx,rng,stdev,vale,put)),
columns=['feature','representation','data scale','mode','count of elements','count of zeros','median','mean','minimum value','maximum value','range of values','standard deviation','data value','input/output'])
df1

,feature,representation,data scale,mode,count of elements,count of zeros,median,mean,minimum value,maximum value,range of values,standard deviation,data value,input/output
0,sepal_length,float64,interval,5.0,150,0,5.8,5.843333,4.3,7.9,3.6,0.828066,continuous,input
1,sepal_width,float64,interval,3.0,150,0,3.0,3.054,2.0,4.4,2.4,0.433594,continuous,input
2,petal_length,float64,interval,1.5,150,0,4.35,3.758667,1.0,6.9,5.9,1.76442,continuous,input
3,petal_width,float64,interval,0.2,150,0,1.3,1.198667,0.1,2.5,2.4,0.763161,continuous,input
4,species,object,nominal/ordinal,Iris-setosa,150,0,null,null,null,null,null,null,discrete,output

In [ ]:
# saving up the table in csv format
df1.to_csv('iris dataset feature information.csv')